<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769298234578-mircrneo68cve9rttqueerko5ir42ch2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769298234578-mircrneo68cve9rttqueerko5ir42ch2</string>
	<key>API_KEY</key>
	<string>AIzaSyCAp6moURe5Aqbm_WMSOcoB4aoFakjwq0U</string>
	<key>GCM_SENDER_ID</key>
	<string>769298234578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharecare.wecare-flutter.staging</string>
	<key>PROJECT_ID</key>
	<string>wecare-2a7ed</string>
	<key>STORAGE_BUCKET</key>
	<string>wecare-2a7ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769298234578:ios:e512e2219fed850a3a810b</string>
</dict>
</plist>